#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    address: "127.0.0.1:6600",
    password: None,
    theme: "acid-dark",
    cache_dir: None,
    on_song_change: None,
    volume_step: 5,
    max_fps: 30,
    scrolloff: 2,
    wrap_navigation: false,
    enable_mouse: true,
    scroll_amount: 1,
    enable_config_hot_reload: true,
    enable_lyrics_hot_reload: true,
    lyrics_dir: Some("/home/aquistus/Music"),
    enable_lyrics_index: true,
    status_update_interval_ms: 1000,
    rewind_to_start_sec: None,
    keep_state_on_song_change: true,
    reflect_changes_to_playlist: false,
    select_current_song_on_change: true,
    ignore_leading_the: false,
    browser_song_sort: [Disc, Track, Artist, Title],
    directories_sort: SortFormat(group_by_type: true, reverse: false),
    auto_open_downloads: true,
    album_art: (
        method: Auto,
        max_size_px: (width: 800, height: 800),
        disabled_protocols: ["http://", "https://"],
        vertical_align: Center,
        horizontal_align: Center,
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "55%", pane: Pane(Queue)),
                    (
                        size: "45%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "50%", pane: Pane(AlbumArt)),
                                (size: "50%", pane: Pane(Lyrics)),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (name: "Lyrics", pane: Pane(Lyrics)),
        (name: "Artists", pane: Pane(Artists)),
        (name: "Albums", pane: Pane(Albums)),
        (name: "Directories", pane: Pane(Directories)),
        (name: "Playlists", pane: Pane(Playlists)),
        (name: "Search", pane: Pane(Search)),
    ],
    keybinds: (
        global: {
            "[": ExternalCommand(command: ["/home/aquistus/.local/bin/lrc-offset", "-500"], description: "Delay lyrics 500ms"),
            "]": ExternalCommand(command: ["/home/aquistus/.local/bin/lrc-offset", "+500"], description: "Advance lyrics 500ms"),
            "{": ExternalCommand(command: ["/home/aquistus/.local/bin/lrc-offset", "-2000"], description: "Delay lyrics 2000ms"),
            "}": ExternalCommand(command: ["/home/aquistus/.local/bin/lrc-offset", "+2000"], description: "Advance lyrics 2000ms"),
            "=": ExternalCommand(command: ["/home/aquistus/.local/bin/lrc-offset", "=0"], description: "Reset lyrics offset"),
            "Q": ExternalCommand(command: ["/home/aquistus/.local/bin/stop-music"], description: "Stop music and kill MPD completely"),
        },
    ),
)
